@-moz-document url-prefix(about:newtab) {
	main {
		box-sizing: border-box;
		max-width: 1380px;
		padding: 0 15px;
		width: auto;
	}
	@media (min-width: 1220px) {
		.uk-container {
			padding: 0 40px;
		}
	}
	@media (min-width: 530px) {
		.uk-container {
			padding: 0 30px;
		}
	}
	/* Top Sites */
	.top-sites-list .top-site-outer {
		margin-inline-end: 25px;
	}
	.top-sites-list .top-site-outer .tile {
		width: 128px;
		height: 128px;
	}
	.top-sites-list .top-site-outer .title {
		width: 128px;
		font-size: 14px;
	}
	.top-sites-list .top-site-outer .top-site-icon {
		background-size: 100%; !important;
	}


	.top-sites-list a[href*="vk.com"] .top-site-icon {
		background-image: url('https://raw.githubusercontent.com/Septdir/firefox/master/images/topsites/vk.com.png') !important;
	}



}
